<!-- admin/confirm.html -->
<!--<div class="remodal">-->
<!--<div class="modal-header">-->
    <!--<h3>确认删除?</h3>-->
<!--</div>-->
<!--</div>-->
<div class="remodal" data-remodal-id="modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Remodal</h1>
    <p>
        Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
    </p>
    <br>
    <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
    <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
</div>
<!--<div class="modal-footer">-->
    <!--<button class="btn btn-default" ng-click="cancel()">Cancel</button>-->
    <!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
<!--</div>-->