<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/angular.min.js"></script>
    <script>
        angular.module('demo', [])
            .factory('Data', function () {
                return {
                    name: 'htf'
                }
            }).controller('childCtrl1', ['$scope', 'Data', function ($scope, Data) {
            $scope.data = Data;
        }])
            .controller('childCtrl2', ['$scope', 'Data', function ($scope, Data) {
                $scope.data = Data;
            }]);
    </script>
</head>
<body>
<div ng-controller="childCtrl1">
    <h3>data in child controller 1: {{data.name}}</h3>
    <input type="text" ng-model="data.name">
</div>
<div ng-controller="childCtrl2">
    <h3>data in child controller 2: {{data.name}}</h3>
    <input type="text" ng-model="data.name">
</div>
</body>
</html>