<!DOCTYPE html>
<html ng-app="com.ngbook.demo">
<head>
    <meta name="description" content="ng trrview example">
    <link href="http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <meta charset="utf-8">
    <title>Tree test</title>
    <!--<script src="https://cdn.bootcss.com/angular.js/1.6.4/angular.js"></script>-->
    <script src="http://cdn.bootcss.com/angular.js/1.5.5/angular.js"></script>
    <script src="app.js"></script>
</head>
<body>
<div ng-controller="DemoController as demo" class="container">

    <div class="row">
        <h2>Tree view</h2>
        <tree-view tree-data="demo.tree"
                   text-field="nodeName"
                   value-field='id'
                   item-clicked="demo.itemClicked($item)"
                   item-checked-changed="demo.itemCheckedChanged($item)" can-checked="true"></tree-view>
    </div>

    <!--<div class="row">-->
        <!--<h2>Item selected</h2>-->
        <!--<pre>{{demo.selectedItem | json}}</pre>-->
    <!--</div>-->

    <script type="text/ng-template" id="/treeView.html">
        <ul class="tree-view">
            <li ng-repeat="item in treeData" ng-include="itemTemplateUrl || '/treeItem.html'"></li>
        </ul>
    </script>

    <script type="text/ng-template" id="/treeItem.html">
        <i ng-click="itemExpended(item, $event);" class="{{getItemIcon(item)}}"></i>

        <input type="checkbox" ng-model="item.$$isChecked" class="check-box" ng-if="canChecked"
               ng-change="warpCallback('itemCheckedChanged', item, $event)">


        <span class='text-field' ng-click="warpCallback('itemClicked', item, $event);">{{item[textField]}}</span>
        <ul ng-if="!isLeaf(item)"
            ng-show="item.$$isExpend">
            <li ng-repeat="item in item.children" ng-include="itemTemplateUrl || '/treeItem.html'">
            </li>
        </ul>
    </script>

</div>
</body>
</html>